<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap"
      rel="stylesheet"
    />
    <style>
        * {
          font-family: 'Roboto Mono', monospace;
        }
      </style>
    <title>Mongo Metric</title>
  </head>
  <body>
      <div class="flex flex-col h-screen w-full uppercase text-center justify-center items-center text-white">
        <p class="text-6xl uppercase text-green-800 font-bold">Mongo Metric</p>
        <form action="/" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="flex text-black">
                <input minlength="10" placeholder="Connect String..." name="db_string" class="border-2 w-96 focus:outline-none border-green-600 rounded shadow p-3 mt-5">
                <input minlength="3" placeholder="Database Name..." name="db_name" class="border-2 w-46 ml-5 focus:outline-none border-green-600 rounded shadow p-3 mt-5">
            </div>
            <button type="submit" class="focus:outline-none bg-green-700 p-3 w-full mt-10 hover:bg-green-800">Get Charts !</button>
        </form>
      </div>
  </body>
</html>
